/**Globales*/

:root {
    --font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a,
p,
h1,
h2,
h3 {
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: white;
}

input {
    border: 1px solid white;
    border-radius: 0.7rem;
    width: 25rem;
    height: 2rem;
    padding-left: 1rem;
}


/**Header*/

.img-header {
    /* background-image: url(../img/header/35072977_faUlr2N0hoZGktSvgABlRsLhJtXQzt5bCu3_p0VsAFM.jpg);  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/header/35072977_faUlr2N0hoZGktSvgABlRsLhJtXQzt5bCu3_p0VsAFM.jpg);
    height: 44rem;
    background-size: cover;
    background-position: center;
}

.logo-img {
    height: 8rem;
}


/**Se crea una clase padre de la barra de navegacion para manipular los elementos con un grid o flex*/

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar-derecha {
    display: flex;
    place-items: center;
    gap: 3rem;
}


/* .li-input {
    padding-top: 2.5rem;
    padding-left: 6rem;
} */


/* .input-class {
    border: 1px solid white;
    border-radius: 0.7rem;
    width: 25rem;
    height: 2rem;
    padding-left: 1rem;
} */


/* .li-button {
    margin-top: 2.7rem;
} */

.btn-buscar {
    border-radius: 0.5rem;
    border: 1px solid #b28405;
    background-color: #b28405;
    color: white;
    height: 2rem;
    width: 5rem;
}

.btn-buscar:hover {
    background-color: #795300;
    border: #795300;
    cursor: pointer;
}

.li-svg svg {
    padding-right: 0.5rem;
}


/* .li-link {
    padding-top: 2.6rem;
    margin-left: 3rem;
} */

.user-link {
    display: flex;
    align-items: center;
}

.user-link:hover {
    color: #b28405;
}


/* .li-carrito {
    padding-top: 2.7rem;
}

.li-departamento {
    padding-top: 3rem;
} */


/* nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
} */

.align-ph {
    margin-top: 7rem;
}

.design-l {
    display: flex;
    justify-content: center;
    color: white;
    line-height: 1.2rem;
}

.design-2 {
    display: flex;
    justify-content: center;
    color: white;
    line-height: 0.2rem;
}


/**Separador*/

.separador {
    background-color: white;
    padding: 3rem;
    background-image: url(../img/header/bg-wine@2x.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    background-position: center;
}

.frase-separador {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    color: white;
    margin-top: 0.5rem;
}

.centrar-hr {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}

.linea-h1 {
    border: 0;
    width: 8rem;
    height: 2px;
    background-color: #795300;
    margin: 5px 0;
}

.vinos-center {
    display: flex;
    justify-content: center;
    color: white;
}

.vino-both {
    margin-top: 1.5rem;
    color: white;
}

.duckhorn-vino {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-left: -1.8rem;
    color: #795300;
}

.div-color {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    /* background-color: black; */
    background-color: #0a0a0a;
    padding: 10rem;
}

.logo-img-bread {
    width: 7rem;
    height: 7rem;
}

.acomodo {
    margin-top: -10rem;
    margin-left: -6.8rem;
}

.acomodo-2 {
    margin: 3rem 2rem 1rem -6.8rem;
}

.img-2 {
    width: 30rem;
    height: 20rem;
}

.titulo-columna-2 {
    font-size: 2.1rem;
    color: white;
    line-height: 0.4rem;
}

.p-colum2 {
    color: #989898;
}

.p-colum-n {
    color: white;
}

.img-pan {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 3.5rem;
}

.img-pan-n {
    display: flex;
    justify-content: space-between;
}

.img-pan-tamaño {
    max-width: 100%;
    width: 6.5rem;
    height: 4rem;
    margin-right: 3rem;
}

.linea-h {
    color: white;
    border: 0;
    height: 2px;
    background-color: #333;
    margin: 20px 0;
}

.align-b {
    display: flex;
    justify-content: center;
}

.boton-pan {
    border-radius: 0.2rem;
    border: 1px solid #b28405;
    background-color: #b28405;
    color: white;
    height: 2rem;
    width: 5rem;
}

.boton-pan:hover {
    background-color: #795300;
    cursor: pointer;
    border-color: #795300;
}

.acomodo-vino {
    display: flex;
    justify-content: center;
    padding: 3rem;
    margin-left: 2rem;
}

.img-wine {
    width: 5rem;
    height: 20rem;
    margin-right: 2rem;
}

.img-wine2 {
    width: 14rem;
    height: 24rem;
    margin-right: 2rem;
}


/**Departamentos*/

.main-market {
    padding: 10rem;
}


/* .bg-color {
    height: 15rem;
    width: 11rem;
} */

.bg-color:hover {
    background-color: #795300;
}

.deparmtamentos {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-top: 3.5rem;
    padding-bottom: 7rem;
}

.depts {
    display: flex;
    justify-content: center;
}

.img-size {
    height: 15rem;
    width: 11rem;
    margin-right: 5rem;
    margin-top: -5rem;
}