@use 'base/variables' as v;
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    font-family: v.$fuente;
}

p {
    font-family: v.$fuente;
}

img {
    display: block;
    max-width: 100%;
}