.bg-vino {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/Portadas/portadaVinos.png');
}

.bg-lacteos {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/Portadas/portadalacteos.png');
}

.bg-pan {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/Portadas/portadaPanaderia.png');
}